<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Mail Sender</title>
        <link href="/css/style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <h1>Mail Sender</h1>
        <form action="home" method="post">
            <label>Name</label><br>
            <input type="text" name="user"><br>
            <label>User ID</label><br>
            <input type="email" name="email"><br>
            <label>Password</label><br>
            <input type="text" name="password"><br>
            <button type="submit">Login</button>
        </form>
    </body>
</html>